---
import Disclaimer from "../pages/disclaimer.astro";
---

<div
  class="text-center text-gray-30 bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
>
  <a
    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
    href="/">Inicio</a
  >
  <a
    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
    href="/disclaimer">Disclaimer</a
  >
</div>
